/*
Bloque para cambiar la configuración por defecto de la sección del encabezado principal de la ventana.
*/
.encabezadoPrincipal{
    word-spacing: 0.3em;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 60px;

    text-transform: uppercase;
    text-align: center;
  
  }
  /*
  Bloque para cambiar la configuración por defecto del espacio que indica la sección en la que se encuentra 
  actualmente el usuario.
  */
  .seccionActual{
    word-spacing: 0.3em;
    letter-spacing: 0.1em;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
    text-decoration: double;
  
   
  }
  /*
  Bloque para ajustar los componentes contenidos en el cuerpo de la aplicación.
  */
  .cuerpoApp{
    height: 160vh;
    display: block;
    margin-top: 20px;
    margin-bottom: 14px;
    background-image:  url(login-fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  
  }
  /*
  Bloque para cambiar la configuración por defecto de los componentes tipo input.
  */
  input{
    border-color: #0B870B;
    margin-top: 30px;
    align-items: center;
    font-weight: bold;
    margin-bottom: 12px;
    
  }
  
  /*
  Bloque para ajustar los tamaños, tipos de letra y espacios de la información a pedir.
  */
  .datosPedir{
    
    font-family: Arial, Helvetica, sans-serif;
    
  
  }
  /*
  Bloque para desplegar los divs contendios en el principal en el centro.
  */
  .form-group{
    max-width: 600px;
    margin: auto;
    left: 50%;
    margin-right: 7%;
  }
  
  a{
    color: blue;
    font-weight: bold;
    font-size: 18px;
    
  }
  
  form{
    width: 18vw;
  }
  
  .button{
    background-color: white;
    font-size: 15px;
    margin-top: 12px;
    text-align: left;
    font-weight: bold;
    margin-left: 25px;
  }
 