.cuerpoApp{
	background-color: lightskyblue;
}

.estadisticas{
    position: absolute;
    width: 340px;
    border: 3px solid #824444;
    background-color: lightcyan;
    height: 8vh;
    display: block;
    text-align:center;
	right: 40%;
	margin-top: 70px;
	height: 50vh;
    
}

.clientes{
	font-size: 20px;
	font-weight: bold;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin-bottom: 120px;
}
.productosVendidos{
	font-size: 20px;
	font-weight: bold;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin-bottom: 90px;
}
.totalVentas{
	font-size: 20px;
	font-weight: bold;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin-bottom: 100px;
}