*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


header{
    width: 100%;
    
}

.navegacion{
	width: 100%;
    background: burlywood;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu > li > a{
	display: block;
	padding: 30px 60px;
	color: blue;
	font-family: 'Open sans';
    text-decoration: none;
    
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}



